.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .form_search {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1em;
    margin-top: 25vh;
}

.container .form_search input {
    width: 300px;
    outline: none;
    border: none;
    font-size: 1em;
    padding: 1em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.352);
    border-radius: 8px;
    font-size: 1.2em;
}

.sub_btn {
    outline: none;
    padding: 1em;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.352);
    cursor: pointer;
    transition: .5s;
}

.sub_btn:hover {
    background: rgb(44, 41, 41);
}

.sub_btn svg {
    color: #ff4655;
    font-size: 2em;
}

.waiting {
}

@keyframes pulse {
	0% {
		color: #ff4655;
	}

	100% {
		color: #ff46567b;
	}
}

.waiting:disabled {
    outline: none;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.585);
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.352);
    transition: .5s;
    animation: pulse 2s infinite;

}

.waiting svg {
    color: #ff4655;
    font-size: 2em;
    transform: scale(1);
}

.user_profile {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.user_not_find {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1em;
    margin-top: 2em;
}

.user_not_find img {
    width: 170px;
}

.user_not_find p {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
}

.user_not_find span {
    color: rgb(44, 41, 41);
    font-weight: 800;
}

.add_account_container {
    padding: 2em;
    position: relative;
}

.add_card {
    position: absolute;
}

.logged_user_icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em .5em;
    background-color: rgb(38, 38, 38);
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
    color: white;
    gap: .5em;
    position: absolute;
}

.menu h1 {
    font-size: 1.1em;
    font-weight: 400;
}

.goOut {
    display: flex;
    gap: .5em;
    align-items: center;
}

.goOut svg {
    transition: .5em;
}

.goOut:hover h1, .goOut:hover svg {
    transition: .5s;
    color: #ff4655;
}